.professional img {
  height: 42px;
  width: 42px;
  padding: 2px;
}

.professional figcaption {
  color: #586268;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .7em;
}
