.professional {
  display: inline-block;
  margin: 0 6px;
  width: 50px;
  text-align: center;
}

.professional img {
  width: 42px;
  border-radius: 50%;
  padding: 2px;
}

.professional figcaption {
  color: #586268;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .7em;
}
